# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: lint

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint markdown files
        uses: articulate/actions-markdownlint@v1
        with:
          config: .markdownlint.yaml
          files: '**/*.md'
          ignore: charts/**/templates
